* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #353740;
}
h1,
h2,
h3,
h4,
h5,
h5,
li,
p {
	color: #fff;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style-type: none;
}
